.pd-left-15 {
    padding-left: 18px;
}

.pd-right-20 {
    padding-right: 18px;
}
.fix-button {
    display: flex;
    padding-left: 15px;
    top: 12px;
    justify-content: flex-end;
    width: 100% !important;
}
.fix-button-header {
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: flex-end;
    width: 100% !important;
}

.title-table {
    display: flex;
    justify-content: flex-end;
}

.datetimepicker .slds-form-element {
    max-width: 100% !important;
    min-width: 100% !important;
}

.fix-height {
    min-height: 50px;
}

.datatable-wrapper {
    padding: 20px;
}

.datatable-border {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    overflow: auto;
}

.datatable-border table {
    width: 100%;
    border-collapse: collapse;
}

.datatable-border th,
.datatable-border td {
    border: 1px solid #d8dde6;
    padding: 0.5rem;
}
.title-custom {
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 25px;
    color: black;
}