.THIS .leftPaddingClass {
    padding-left: 2rem;
}

.THIS .pillSize{
    width:100%;
    height:36px;
}
.THIS .chekRequired{
    border-color: var(--lwc-colorBorderError,rgb(234, 0, 30));
    box-shadow: var(--lwc-colorBorderError,rgb(234, 0, 30)) 0 0 0 var(--lwc-borderWidthThin,1px) inset;
    background-color: var(--sds-c-input-color-background, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));
    color: var(--sds-c-input-text-color);
    background-clip: padding-box;
                            }