.tab-title{
  color: #027fbd;
}

button{
  background-image: none;
}

.btn-border-radius{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: none;
  border: none;
  background-color: #fff;
}

.btn-border-radius.border {
  border: 1px solid #ccc;
}

.btn-border-radius[disabled]:active {
  transform: scale(1);
}

.btn-border-radius[disabled]{
  cursor: auto;
  opacity: 0.7;
}

.btn:active {
  transform: scale(0.9);
}

.table-wrapper{
  position: relative;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.table-sticky {
    width: 100%;
    border-collapse: separate;
    counter-reset: row-index;
    position: absolute;
    inset: 0;
}
  
.table-sticky .header-cell {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-sticky .table-cell {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-sticky th:first-child,
.table-sticky td:first-child {
  border-left: 1px solid #ddd;
}

.table-sticky .table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.table {
  border-collapse: collapse;
  counter-reset: row-index;
}

.table .header-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
}

.table .table-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-empty{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, 50%);
}

.row-index:after{
  content: counter(row-index);
  counter-increment: row-index;
}

.phone-nunber-call{
  color: #444444;
  font-size: 16px;
}

.placeholder-table{
  display: block;
  background-color: #0000001c;
  height: 20px;
  animation: 2s ease-in-out 0.5s infinite normal none running animation-placeholder-table;
}

@keyframes animation-placeholder-table{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.4;
  }
  100%{
    opacity: 1;
  }
}